/* Global Styles */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Header Styles */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Navigation Styles */

nav {
  background-color: #000;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #ffc107;
}

/* Main Styles */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

article {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

p {
  line-height: 1.5;
}

/* Footer Styles */

footer {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  ul {
    width: 80%;
  }
}